body{
    font-family: 'Lora', serif;;
}
.fcontainer{
    height: 450px;
    width: 75%;
    margin-top: 10px;
    border: 2px solid #3A1C71;
    border-radius: 25px;
    position: relative;
    left: 12%;
}
.father{
    height: 96%;
    width: 35%;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: #3A1C71;
}
ul{
    list-style: none;
}
li{
    color: white;
}
.secFather{
    height: 96%;
    width: 60%;
    border-radius: 25px;
    position: absolute;
    top: 2%;
    right: 2%;
}
.fcontainer .imag{
    width: 30%;
    height: 50%;
    border-radius: 20px;
    position: absolute;
    left: 3.5%;
    bottom: 8%;
}
p{
    color: gray;
}
.btn{
    position: absolute;
    bottom: 2%;
    right: 2%;
}
@media screen and (min-width:300px) and (max-width:1000px) {
    .fcontainer{
        width: 100%;
        height: 1800px;
        margin-top: 10px;
        border: 4px solid #3A1C71;
        border-radius: 25px;
        position: relative;
        left: 0%;
    }
    .fcontainer .secFather{
        width: 95%;
        height: 1000px;
        position: absolute;
        top: 37%;
        left: 2.5%;
    }
    .fcontainer .imag{
        width: 90%;
        height: 35%;
        border-radius: 20px;
        position: absolute;
        top: 1%;
        left: 5%;
    }
    .fcontainer .secFather h1{
        position: absolute;
        left: 20%;
        top: 2%;
        font-size: 100px;
    }
    .fcontainer .secFather p{
        color: gray;
        position: absolute;
        left: 5%;
        top: 18%;
        font-size: 60px;
    }
    .fcontainer .secFather label{
        display: none;
    }
    .fcontainer .secFather input{
        width: 80%;
        height: 15%;
        border-radius: 25px;
        border-color: #3A1C71;
        position: absolute;
        left: 10%;
        font-size: 60px;
    }
    .fcontainer .secFather #in1{
        position: absolute;
        bottom: 48%;
    }
    .fcontainer .secFather #in2{
        position: absolute;
        bottom: 28%;
    }
    .fcontainer .secFather #in3{
        position: absolute;
        bottom: 8%;
    }
    .fcontainer .father{
        display: none;
    }
    .btn{
        background-color: #3A1C71;
        position: absolute;
        bottom: -10%;
        right: 30%;
        width: 40%;
        height: 12%;
        font-size: 40px;
    }
    .hr1{
        position: relative;
        top: 12%;
    }
}